name: rtmpose3d-opensim
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pip
  - pip:
    - torch>=2.0.0
    - torchvision
    - --index-url https://download.pytorch.org/whl/cu121
    - mmcv==2.2.0
    - opencv-python>=4.8.0
    - numpy>=1.24.0
    - opensim>=4.4
    - git+https://github.com/b-arac/rtmpose3d.git
